/**
 * @name Calamity
 * @description A dark, rounded discord theme based on the midnight-discord theme.
 * @author .yuhki, refact0r
 * @version 1.0.0
 * @website https://www.calamity.wtf
 * @authorId 534810356455964703, 508863359777505290
*/

@import url('https://refact0r.github.io/midnight-discord/midnight.css');
@import url('https://api.fontshare.com/v2/css?f[]=chillax@400&display=swap');

/* customize things here */
:root {
  /* font, change to 'gg sans' for default discord font */
  --font: 'Chillax', sans-serif;

  /* top left corner text */
  --corner-text: 'Calamity';

  /* thickness of messages divider */
  --divider-thickness: 3px;

  /* color of status indicators and window controls */
  --online-indicator: #95ff9e; /* change to #23a55a for default green */
  --dnd-indicator: #ff6c6c; /* change to #f23f43 for default red */
  --idle-indicator: #ffc671; /* change to #f0b232 for default yellow */
  --streaming-indicator: #896cff; /* change to #593695 for default purple */

  /* accent colors */
  --accent-1: #a290e1; /* links */
  --accent-2: #a290e1; /* general unread/mention elements */
  --accent-3: #a290e1; /* accent buttons */
  --accent-4: #8274b6; /* accent buttons when hovered */
  --accent-5: #6a5d99; /* accent buttons when clicked */
  --mention: #4747471a; /* mentions & mention messages */
  --mention-hover: #4f4f4f0d; /* mentions & mention messages when hovered */

  /* text colors */
  --text-0: #111111; /* text on colored elements */
  --text-1: #eceff4; /* other normally white text */
  --text-2: #e5e9f0; /* headings and important text */
  --text-3: #eceff4; /* normal text */
  --text-4: #8c8c8c; /* icon buttons and channels */
  --text-5: #a4a4a4; /* muted channels/chats and timestamps */

  /* background and dark colors */
  --bg-1: #232323; /* dark buttons when clicked */
  --bg-2: #1d1c1c; /* dark buttons */
  --bg-3: #000000; /* spacing, secondary elements */
  --bg-4: #020202; /* main background color */
  --hover: #1414144d; /* buttons when hovered */
  --active: #1f1f1f80; /* channels and buttons when clicked or selected */
  --message-hover: #0000001a; /* messages when hovered */

  /* amount of spacing and padding */
  --spacing: 12px;

  /* animations */
  /* ALL ANIMATIONS CAN BE DISABLED WITH REDUCED MOTION IN DISCORD SETTINGS */
  --list-item-transition: 0.2s ease; /* channels/members/settings hover transition */
  --unread-bar-transition: 0.2s ease; /* unread bar moving into view transition */
  --moon-spin-transition: 0.4s ease; /* moon icon spin */
  --icon-spin-transition: 1s ease; /* round icon button spin (settings, emoji, etc.) */

  /* corner roundness (border-radius) */
  --roundness-xl: 22px; /* roundness of big panel outer corners */
  --roundness-l: 20px; /* popout panels */
  --roundness-m: 16px; /* smaller panels, images, embeds */
  --roundness-s: 12px; /* members, settings inputs */
  --roundness-xs: 10px; /* channels, buttons */
  --roundness-xxs: 8px; /* searchbar, small elements */

  /* direct messages moon icon */
  /* change to block to show, none to hide */
  --discord-icon: none; /* discord icon */
  --moon-icon: block; /* moon icon */
  --moon-icon-url: url('https://i.ibb.co/9mLkdWR8/calamity.png'); /* custom icon url */
  --moon-icon-size: auto;
}

/* Home Icon */
.childWrapper__6e9f8:has(> svg:not(.favoriteIcon_dcc7a4)) {
	background-image: var(--moon-icon-url);
	background-color: transparent !important;
	background-size: contain;
	background-position: center;
}

/* Window Action Buttons (top right) */
[class^='winButtonMinMax']:nth-child(4)::after {
	background-color: #f7d882 !important;
}

[class^='winButtonMinMax']:nth-child(3)::after {
	background-color: #69eca0 !important;
}

[class^='winButtonClose']::after {
	background-color: #f87070 !important;
}
